<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raxa_gsoc2014.doctorsapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".Brain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.raxa_gsoc2014.doctorsapp.BRAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".SplitHead"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.raxa_gsoc2014.doctorsapp.SPLITHEAD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".BrainInfo1"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.raxa_gsoc2014.doctorsapp.BRAININFO1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".BrainInfo2"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.raxa_gsoc2014.doctorsapp.BRAININFO2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".BrainInfo3"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.raxa_gsoc2014.doctorsapp.BRAININFO3" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".BrainInfo4"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.raxa_gsoc2014.doctorsapp.BRAININFO4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".BrainInfo5"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.raxa_gsoc2014.doctorsapp.BRAININFO5" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".SkeletonChoice"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.raxa_gsoc2014.doctorsapp.SKELETONCHOICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".SkeletonFront"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.raxa_gsoc2014.doctorsapp.SKELETONFRONT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".SkeletonBack"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.raxa_gsoc2014.doctorsapp.SKELETONBACK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ShoulderList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.raxa_gsoc2014.doctorsapp.SHOULDERLIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ElbowList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.raxa_gsoc2014.doctorsapp.ELBOWLIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".RibCageList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.raxa_gsoc2014.doctorsapp.RIBCAGELIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
		<activity
            android:name=".FemurList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.raxa_gsoc2014.doctorsapp.FEMURLIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KneeList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.raxa_gsoc2014.doctorsapp.KNEELIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".FibulaList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.raxa_gsoc2014.doctorsapp.FIBULALIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".AnkleList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.raxa_gsoc2014.doctorsapp.ANKLELIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".BackBoneList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.raxa_gsoc2014.doctorsapp.BACKBONELIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ScapulaList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.raxa_gsoc2014.doctorsapp.SCAPULALIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".HipList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.raxa_gsoc2014.doctorsapp.HIPLIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
